---
layout: default
title: Yii.Rocks
---

<div class="accordion bg-light" id="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headSimpleHtmlDom">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSimpleHtmlDom" aria-expanded="false" aria-controls="collapseSvgInline">
                SimpleHtmlDom
            </button>
        </h2>
        <div id="collapseSimpleHtmlDom" class="accordion-collapse collapse" aria-labelledby="headSimpleHtmlDom" data-bs-parent="#accordion">
            <div class="accordion-body">
                <p>
                    <a href="https://github.com/YiiRocks/simple-html-dom" class="text-nowrap">simple-html-dom</a>
                    configures <a href="https://github.com/voku/simple_html_dom/"
                    class="text-nowrap">voku/simple_html_dom</a>.
                </p>
                <div>
                    Quick usage:<br>
                    <pre><code class="php">use YiiRocks\SimpleHtmlDom\SimpleHtmlDomInterface;

class Class {
    private SimpleHtmlDomInterface $dom;

    __construct(SimpleHtmlDomInterface $dom) {
            $this->dom = $dom;
    }
}</code></pre>
                    Available options can be found in the <a href="https://github.com/voku/simple_html_dom/blob/master/README_API.md">API
                    Readme</a>.
                </div>
            </div>
            {% include footer_simple-html-dom.html %}
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headSvgInline">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSvgInline" aria-expanded="false" aria-controls="collapseSvgInline">
                SvgInline
            </button>
        </h2>
        <div id="collapseSvgInline" class="accordion-collapse collapse" aria-labelledby="headSvgInline" data-bs-parent="#accordion">
            <div class="accordion-body">
                <p>
                    <a href="https://github.com/YiiRocks/svg-inline" class="text-nowrap">svg-inline</a>
                    provides simple functions for your <a href="http://www.yiiframework.com/"
                    class="text-nowrap">Yii Framework 3</a> applications to
                    add SVG Files inline and manipulate its properties. It can be
                    extended with <button class="btn btn-link align-baseline p-0"
                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseSvgInlineBootstrap">
                    Bootstrap Icons</button> and <button class="btn btn-link align-baseline p-0"
                    type="button" data-bs-toggle="collapse" data-bs-target="#collapseSvgInlineFontAwesome">
                    Font Awesome Icons</button>.
                </p>
                <p>
                    Various <a href="/svg-inline/">options</a> are available to
                    manipulate the result.
                </p>
            <div>
                Quick usage:<br>
                <pre><code class="php">$svg-&gt;file('@vendor/path/icon.svg');</code></pre>
            </div>
            </div>
            {% include footer_svg-inline.html %}
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headSvgInlineBootstrap">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSvgInlineBootstrap" aria-expanded="false" aria-controls="collapseTwo">
                SvgInline/Bootstrap
            </button>
        </h2>
        <div id="collapseSvgInlineBootstrap" class="accordion-collapse collapse" aria-labelledby="headSvgInlineBootstrap" data-bs-parent="#accordion">
            <div class="accordion-body">
                <p>
                    <a href="https://github.com/YiiRocks/svg-inline-bootstrap" class="text-nowrap">svg-inline-bootstrap</a>
                    provides simple functions for your <a href="http://www.yiiframework.com/" class="text-nowrap">Yii
                    Framework 3</a> applications to add <a href="https://icons.getbootstrap.com/"
                    class="text-nowrap">Bootstrap Icons</a> inline and depends on
                    <button class="btn btn-link align-baseline p-0" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseSvgInline" aria-expanded="false"
                    aria-controls="cardSvgInline">SvgInline</button>.
                </p>
                <p>
                    Various <a href="/svg-inline/bootstrap/">options</a> are
                    available to manipulate the result.
                </p>
              <div>Quick usage:
                    <pre><code class="php">$svg-&gt;bootstrap($iconName);</code></pre>
              </div>
            </div>
            {% include footer_svg-inline-bootstrap.html %}
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headSvgInlineFontAwesome">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSvgInlineFontAwesome" aria-expanded="false" aria-controls="cardYii2FontAwesome">
                    SvgInline/FontAwesome
                </button>
            </h2>
            <div id="collapseSvgInlineFontAwesome" class="accordion-collapse collapse" aria-labelledby="headSvgInlineFontAwesome" data-bs-parent="#accordion">
                <div class="accordion-body">
                    <p>
                        <a href="https://github.com/YiiRocks/svg-inline-fontawesome"
                        class="text-nowrap">svg-inline-fontawesome</a> provides
                        simple functions for your <a href="http://www.yiiframework.com/"
                        class="text-nowrap">Yii Framework 3</a> applications to
                        add <a href="https://fontawesome.com/icons" class="text-nowrap">
                        Font Awesome Icons</a> inline and depends on <button class="btn btn-link align-baseline p-0"
                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseSvgInline">
                        SvgInline</button>.
                    </p>
                    <p>Various <a href="/svg-inline/fontawesome/">options</a> are
                        available to manipulate the result.
                    </p>
                    <div>Quick usage:
                        <pre><code class="php">$svg-&gt;fai($iconName);<br>$svg-&gt;fai($iconName, $iconStyle);</code></pre>
                    </div>
                </div>
                {% include footer_svg-inline-fontawesome.html %}
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headYiiBootstrapIcons">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseYiiBootstrapIcons" aria-expanded="false" aria-controls="cardYii2FontAwesome">
                    Yii/Bootstrap/Icons
                </button>
            </h2>
            <div id="collapseYiiBootstrapIcons" class="accordion-collapse collapse" aria-labelledby="headYiiBootstrapIcons" data-bs-parent="#accordion">
                <div class="accordion-body">
                    <p>
                        <a href="https://github.com/YiiRocks/yii-bootstrap-icons"
                        class="text-nowrap">yii-bootstrap-icons</a> provides the
                        Asset Bundle to use Bootstrap Icons in your project.
                    </p>
                    <div class="alert alert-info" role="alert">
                        Looking for a <strong>Font Awesome</strong> Asset Bundle instead? Step over
                        to <a href="https://github.com/yii-extension/fontawesome" class="alert-link">yii-extension/fontawesome</a>!
                    </div>
                    <p>
                        All valid icons can be found on the <a href="https://icons.getbootstrap.com/#icons">Bootstrap
                        Icons</a> page.
                    </p>
                    <div>Quick usage:
                        <pre><code class="php">$assetManager->register([
    \YiiRocks\Yii\Bootstrap\Icons\Assets\BootstrapIconsAsset::class,
]);

echo '&lt;i class=&quot;bi-alarm&quot;&gt;&lt;/i&gt;';
echo Html::tag('i', '', ['class' => 'bi-alarm']);
</code></pre>
                    </div>
                </div>
                {% include footer_yii-bootstrap-icons.html %}
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headYii2FontAwesome">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cardYii2FontAwesome" aria-expanded="false" aria-controls="cardYii2FontAwesome">
                    yii2-fontawesome-inline
                </button>
            </h2>
            <div id="cardYii2FontAwesome" class="accordion-collapse collapse" aria-labelledby="headYii2FontAwesome" data-bs-parent="#accordion">
              <div class="accordion-body">
                <p>
                    <a href="https://github.com/YiiRocks/yii2-fontawesome-inline"
                    class="text-nowrap">yii2-fontawesome-inline</a> provides
                    simple functions for your <a href="http://www.yiiframework.com/"
                    class="text-nowrap">Yii Framework 2.0</a> applications to add
                    <a href="https://fontawesome.com/icons" class="text-nowrap">Font
                    Awesome Icons</a> inline.
                </p>
                <p>Various <a href="/yii2-fontawesome-inline/">options</a> are
                    available to manipulate the result.
                </p>
                <div>Quick usage:
                    <pre><code class="php">$icon = new \thoulah\fontawesome\Icon();<br>echo $icon-&gt;show('github', ['style' =&gt; 'brands', 'fill' =&gt; '#003865']);</code></pre>
                </div>
            </div>
            {% include footer_yii2-fontawesome.html %}
        </div>
    </div>
</div>
