<div class="card-footer d-flex justify-content-between">
    <code class="bash mt-1">composer require yiirocks/recaptcha</code>
    <div class="text-end">
        <a href="https://packagist.org/packages/yiirocks/recaptcha"><img src="https://img.shields.io/badge/Image-Loading-brightgreen" data-src="https://img.shields.io/packagist/v/yiirocks/recaptcha.svg" alt="Packagist Version" class="lozad"></a>
        <a href="https://qlty.sh/gh/YiiRocks/projects/recaptcha"><img src="https://img.shields.io/badge/Image-Loading-brightgreen" data-src="https://qlty.sh/gh/YiiRocks/projects/recaptcha/maintainability.svg" alt="Maintainability" class="lozad"></a>
        <img src="https://img.shields.io/badge/Image-Loading-brightgreen" data-src="https://img.shields.io/github/actions/workflow/status/YiiRocks/recaptcha/build.yml?branch=master" alt="GitHub Workflow Status" class="lozad">
    </div>
</div>
