<div class="card-footer d-flex justify-content-between">
    <code class="bash mt-1">composer require yiirocks/svg-inline</code>
    <div class="text-end">
        <a href="https://packagist.org/packages/yiirocks/svg-inline"><img src="https://img.shields.io/badge/Image-Loading-brightgreen" data-src="https://img.shields.io/packagist/v/yiirocks/svg-inline.svg" alt="Packagist Version" class="d-none lozad"></a>
        <a href="https://codeclimate.com/github/YiiRocks/svg-inline/maintainability"><img src="https://img.shields.io/badge/Image-Loading-brightgreen" data-src="https://img.shields.io/codeclimate/maintainability/YiiRocks/svg-inline.svg" alt="Code Climate maintainability" class="lozad"></a>
        <a href="https://app.codacy.com/gh/YiiRocks/svg-inline"><img src="https://img.shields.io/badge/Image-Loading-brightgreen" data-src="https://img.shields.io/codacy/grade/1a826829576d45668a766abaae2321bb/master.svg" alt="Codacy branch grade" class="lozad"></a>
        <a href="https://scrutinizer-ci.com/g/yiirocks/svg-inline/?branch=master"><img src="https://img.shields.io/badge/Image-Loading-brightgreen" data-src="https://img.shields.io/scrutinizer/quality/g/yiirocks/svg-inline/master.svg" alt="Scrutinizer code quality (GitHub/Bitbucket)" class="lozad"></a>
        <img src="https://img.shields.io/badge/Image-Loading-brightgreen" data-src="https://img.shields.io/github/workflow/status/yiirocks/svg-inline/analysis" alt="GitHub Workflow Status" class="lozad">
    </div>
</div>
