{% assign p = site.data.projects[include.project] %}
{% assign code_class = "mt-1" %}
{% if p.cli %}{% assign code_class = code_class | append: " bash" %}{% endif %}
{% capture packagist_url %}https://img.shields.io/packagist/v/{{ p.package }}.svg{% endcapture %}
<div class="card-footer d-flex justify-content-between">
    <code class="{{ code_class }}" data-clipboard="composer require {{ p.package }}">composer require {{ p.package }}</code>
    <div class="text-end d-flex flex-wrap gap-1 justify-content-end">
        {% include badge.html url=packagist_url alt="Packagist Version" %}
        {% if p.qlty_id %}
            {% if p.qlty_type == "uuid" %}
                {% capture qlty_url %}https://qlty.sh/badges/{{ p.qlty_id }}/maintainability.svg{% endcapture %}
            {% else %}
                {% capture qlty_url %}https://qlty.sh/gh/YiiRocks/projects/{{ p.qlty_id }}/maintainability.svg{% endcapture %}
            {% endif %}
            {% include badge.html url=qlty_url alt="Maintainability" %}
        {% endif %}
        {% if p.codacy %}
            {% capture codacy_url %}https://img.shields.io/codacy/grade/{{ p.codacy }}/master.svg{% endcapture %}
            {% include badge.html url=codacy_url alt="Codacy branch grade" %}
        {% endif %}
        {% if p.travis %}
            {% capture travis_url %}https://img.shields.io/travis/com/yiirocks/{{ p.repo }}/master.svg{% endcapture %}
            {% include badge.html url=travis_url alt="Travis (.com) branch" %}
        {% else %}
            {% capture workflow_url %}https://img.shields.io/github/actions/workflow/status/YiiRocks/{{ p.repo }}/{{ p.workflow }}{% endcapture %}
            {% include badge.html url=workflow_url alt="GitHub Workflow Status" %}
        {% endif %}
    </div>
</div>
