<div class="card-footer d-flex justify-content-between">
    <code class="mt-1">composer require yiirocks/simple-html-dom</code>
    <div class="text-end">
        <a href="https://packagist.org/packages/yiirocks/simple-html-dom"><img src="https://img.shields.io/badge/Image-Loading-brightgreen" data-src="https://img.shields.io/packagist/v/yiirocks/simple-html-dom.svg" alt="Packagist Version" class="d-none lozad"></a>
        <a href="https://codeclimate.com/github/YiiRocks/simple-html-dom/maintainability"><img src="https://img.shields.io/badge/Image-Loading-brightgreen" data-src="https://img.shields.io/codeclimate/maintainability/YiiRocks/simple-html-dom.svg" alt="Code Climate maintainability" class="lozad"></a>
        <a href="https://app.codacy.com/gh/YiiRocks/simple-html-dom"><img src="https://img.shields.io/badge/Image-Loading-brightgreen" data-src="https://img.shields.io/codacy/grade/b82875701bf54191b7a86069d724f013/master.svg" alt="Codacy branch grade" class="lozad"></a>
        <a href="https://scrutinizer-ci.com/g/yiirocks/simple-html-dom/?branch=master"><img src="https://img.shields.io/badge/Image-Loading-brightgreen" data-src="https://img.shields.io/scrutinizer/quality/g/yiirocks/simple-html-dom/master.svg" alt="Scrutinizer code quality (GitHub/Bitbucket)" class="lozad"></a>
        <img src="https://img.shields.io/badge/Image-Loading-brightgreen" data-src="https://img.shields.io/github/workflow/status/yiirocks/simple-html-dom/analysis" alt="GitHub Workflow Status" class="lozad">
    </div>
</div>
