{% assign p = site.data.projects[include.project] %}
{% capture packagist_url %}https://img.shields.io/packagist/v/{{ p.package }}?style=flat-square&label=packagist{% endcapture %}
{% capture downloads_url %}https://img.shields.io/packagist/dt/{{ p.package }}?style=flat-square&label=downloads{% endcapture %}
{% capture php_url %}https://img.shields.io/packagist/php-v/{{ p.package }}?style=flat-square&label=php{% endcapture %}
{% capture license_url %}https://img.shields.io/packagist/l/{{ p.package }}?style=flat-square&label=license{% endcapture %}
{% include badge.html url=packagist_url alt="Packagist Version" %}
{% include badge.html url=downloads_url alt="Packagist Downloads" %}
{% include badge.html url=php_url alt="PHP Version" %}
{% include badge.html url=license_url alt="License" %}
{% if p.travis %}
    {% capture travis_url %}https://img.shields.io/travis/com/yiirocks/{{ p.repo }}/master.svg{% endcapture %}
    {% include badge.html url=travis_url alt="Travis (.com) branch" %}
{% else %}
    {% capture workflow_url %}https://img.shields.io/github/actions/workflow/status/YiiRocks/{{ p.repo }}/{{ p.workflow }}{% endcapture %}
    {% include badge.html url=workflow_url alt="GitHub Workflow Status" %}
{% endif %}
