{% if page.url != "/svg-inline/" %}
<h3>Inherited options from <a href="/svg-inline/">svg-inline</a></h3>
{% endif %}
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <code>file</code> <span class="font-monospace">( string )</span>
        Valid path to a custom file.
    </li>
    <li class="list-group-item">
        <code>class</code> <span class="font-monospace">( string )</span>
        Additional custom classes.
    </li>
    <li class="list-group-item">
        <code>css</code> <span class="font-monospace">( array )</span>
        Additional CSS attributes.
    </li>
    <li class="list-group-item">
        <code>fill</code> <span class="font-monospace">( string )</span>
        Color of the icon.
    </li>
    <li class="list-group-item">
        <code>height</code> <span class="font-monospace">( int )</span>
        The height of the icon. If <code>height</code> is given without
        <code>width</code>, the latter will be calculated from the SVG size.
    </li>
    <li class="list-group-item">
        <code>id</code> <span class="font-monospace">( string )</span>
        Id for the SVG tag.
    </li>
    <li class="list-group-item">
        <code>title</code> <span class="font-monospace">( string )</span>
        Sets a title to the SVG output.
    </li>
    <li class="list-group-item">
        <code>width</code> <span class="font-monospace">( int )</span>
        The width of the icon. If <code>width</code> is given without
        <code>height</code>, the latter will be calculated from the SVG size.
    </li>
</ul>
