<!DOCTYPE html>
<html class="h-100" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Mister 42">
        <meta name="description" content="Yii.Rocks">
        <link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg">
        <link rel="alternate icon" href="/assets/images/favicon.ico">
        <link rel="apple-touch-icon" href="/assets/images/logo-180.png">
        <link href="//cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/styles/default.min.css">
        <link rel="stylesheet" href="/assets/css/site.css">
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <div class="container">
                <h1 class="my-3">
                    {% if page.url != "/" %}<a href="/" title="Yii.Rocks">{% endif %}<img src="/assets/images/logo.svg" alt="Yii.Rocks" width="60" height="64">{% if page.url != "/" %}</a>{% endif %}
                    <strong class="text-shadow user-select-none">{{ page.title }}</strong>
                </h1>
                {{ content }}
            </div>
        </main>
        <footer class="footer mt-auto pb-1 bg-light">
            <div class="container d-flex justify-content-between">
                <span class="text-muted">
                    <a href="https://github.com/YiiRocks/" class="text-decoration-none" title="YiiRocks on GitHub"><img src="/assets/images/logo-github.svg" alt="GitHub" height="20"></a>
                </span>
                <span class="text-muted">
                    <a href="https://www.mr42.me/" class="text-decoration-none" title="Visit Mr.42"><img src="/assets/images/logo-mr42.svg" alt="Mr.42" height="20"></a>
                </span>
            </div>
        </footer>
        <script src="//cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/highlight.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
        <script>
            hljs.initHighlightingOnLoad();
            lozad().observe();
            for (var links=document.links, i=0, a; a=links[i]; i++) {
                if (a.host !== location.host) {
                    a.target = '_blank';
                }
            }
        </script>
    </body>
</html>
